body {
    background: url('../images/big-heart_@2X.png'), -webkit-radial-gradient(top center, ellipse cover, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%), url('../images/felt_@2X.jpg'), #4d9843;
    background-repeat: no-repeat, repeat, repeat;
    background-attachment:fixed;
    background-position:center, top left, top left;
    background-size: 459px, auto, 465px;
    margin: 0;
    padding-top: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rotate90 {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    /* IE 9 */
    -webkit-transform:rotate(90deg);
    /* Safari and Chrome */
}
.rotate180 {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    /* IE 9 */
    -webkit-transform:rotate(180deg);
    /* Safari and Chrome */
}
.rotate270 {
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    /* IE 9 */
    -webkit-transform:rotate(-90deg);
    /* Safari and Chrome */
}
/* Middle stack positioning */
 #center {
    position:absolute;
    left: 50%;
    min-width: 25em;
    /*Need this to be big to fit the traded cards */
}
#play {
    margin-left:-34.5px
    /* 69px/2 */
}
/* Middle cards style and margins */
 #played-cards {
    font-size: 1.1em;
    margin-top: -1.3em;
    min-width: 380px;
    margin-left:-190px;
    /* ~380px/2 */
}
#top-played-card {
    margin-top: -0.5em;
    margin-left: 6.6em;
}
#left-played-card {
    margin-top: 0em;
    margin-left: -9.5em;
}
#right-played-card {
    margin-top: 0.4em;
    margin-left: -0.6em;
    margin-right: -3em;
}
#bottom-played-card {
    margin-top: 3.7em;
    margin-left: -3.9em;
}
/* Use these to hide cards without hiding space */
 .hide-card {
    visibility: hidden;
}
.show-card {
    visibility: visible;
}
/* Bottom cards */
 #bottomcards {
    position: absolute;
    left: 50%;
    /* Calculate margin-left in js */
    margin-top: 10px;
    width:900px;
}
#traded-cards {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -19.25em;
    margin-top: -6.5em;
    font-size: 1.1em;
}
#left-traded-card {
    margin-left: -6.6em;
    margin-right: 4em;
}
#center-traded-card {
    margin-right: 4em;
}
#right-traded-card {
    margin-right: 0em;
}
.login {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, .1);
    border: #000;
}
/* Player name and picture */
 .user-box {
    padding: 10px;
    margin-bottom: 20px;
}
/* Name label */
 .name-box {
    margin-bottom: 15px;
    margin-top: 0px;
}
/* Lower name label */
 .my-name-box {
    margin-top:30px;
}
.placeholder {
    width: 140px;
    height: 140px;
}
.nav {
    margin-bottom: -25px;
}
.nav-back {
    position: absolute;
    top:-10px;
    padding-top: 15px;
    left: 2em;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.nav-info {
    position: absolute;
    top: -10px;
    padding-top: 15px;
    right: 2em;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.score-label {
    position: relative;
    top: .5px;
    left: 10px;
    display: inline-block;
    padding: 6.5px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-radius: 0px 4px 4px 0px;
}
#score-menu-btn {
    position: absolute;
    top: 200px;
    right: 0px;
    padding-bottom: 20px;
    margin-right: -3em;
    width:100px !important;
}
#sidr-right {
    width:500px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #FFF;
}
.total-score,
.round-score {
    width: 50px;
    display: inline-block;
}
.round-score {
    text-align: right;
}
.card.disabled{
    bottom: 0em !important; /*This disables the hover effect*/
    background: #888;
}
.card.disabled.diams,
.card.disabled.hearts{
    color: #800 !important;
}